
body {

background: black;
font-family: 'Handlee' , cursive;

}

.topdiv {

    overflow: hidden;

position: relative;

}

.h1 {
    padding-right: 20px;
    padding-top: 10px;


}


.topdiv img {
margin-right: 1px;

width: 90px;
height: 90px;
float:  right ;
margin-top: 1px;
}

.parentdiv {
transform: translate(-50%,-50%);
position: absolute;
width: 600px;
height: 400px;
top: 50%;
left:  50%;


background: white;


}

.centerDiv {

    display: flex;


}

.centerDivLeft {

margin-top: 1px;
margin-right: 2pc;
margin-left: 2pc;
width: 50%;



}
.p {
margin-top: 0;


}

.input {
display: block;
width: 90%;
font-size: 18px;
font-family: 'Handlee' , cursive;
padding-left: 10px;

}

.centerDivRight {


width: 50%;


}


.buttonDiv{

margin-left: 40%;


}